*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
@font-face{
    src: url("../Marvel-Regular\ 2.ttf");
    font-family: 'street';
}
.main{
    font-size: 500px;
    font-family: 'street';
   color: red;
   display: flex;
   justify-content: center;
   align-items: center;
}